body {
    margin: 0;
    font-family:Cursed Timer ULiL;
    color: white;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    background-color: #111827;
    height: 600px;
    width: 750px;
    border-radius: 0px;
    position: relative;       
}
h3 {
    height: 40px;
    width: 150px;
    left: 85px;
    top: 70px;
    text-align: center;
    font-family: Verdana;
    font-size: 40px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
    font-family:Cursed Timer ULiL;
    margin: 20px 0px;  
}

h4 {
    border: none;
    background-color: #080001;
    font-family: Cursed Timer ULiL;
    height: 120px;
    width: 155px;
    border-radius: 5px;
    font-size: 90px;
    font-weight: 400;
    line-height: 127px;
    letter-spacing: 0em;
    text-align: center;
    color: #42baf1;     
    position: absolute;  
    margin: 0px 0px;
}
h4#period-count{
    border: 2px solid rgb(8, 2, 2);
    background: rgba(0, 0, 0, 0.74);
    font-style: italic;
    font-family: Cursed Timer ULiL;
    height: 100px;
    width: 90px;
    font-size: 70px;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: center;
    color: #ff0000;     
    position: relative;  
    margin: 0px 0px;

}
.period{
    position: relative;
}
#period-inc{
    position: absolute;
    left: 350px;
    top: 120px;
    color: #ca0000;
    background:rgba(0, 0, 0, 0.692);
    height: 40px;
     
}
#periodword{
    font-size: 23px;
    font-family: Cursed Timer ULiL;
    position: absolute;
    left: 305px;
    top: 145px;
}

.period h3{
    font-size: 25px;
    font-style: oblique;
    position: fixed;
    left: 210px;
    top: 150px;
    
}
button{ 
    position: relative;
    background: #11182777;
    width: 35px;
    height: 35px;
    margin-left: 8px;
    left: 8px;
    top: 130px;
    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: 42baf1;
    transition: 0.2s;
    cursor: pointer;
    border: 2px groove #4b5c85fa;
}
.fouls-home{
    position: absolute;
    top: 300px;
}
.fouls-home #fouls-counth{
    width: 80px;
    position: absolute;
    left: 38px;
    color: yellow;
}
.fouls-away #fouls-counta{
    width: 80px;
    position: absolute;
    left: 38px;
    color: yellow;
}
.fouls-away{
    position: absolute;
    top: 300px;    
}
.fouls-home #foul-inch{
    left: 50;
    top: 130px;
    color: yellow;
}
.fouls-away #foul-inca{
    left: 50;
    top: 130px;
    color: yellow;
}
#incre1:hover {
    background:#1118270e;
    color: #f94f6e91;
}
#incre2:hover {
    background:#1118270e;
    color: #f94f6e91;
}
#incre3:hover {
    background:#1118270e;
    color: #f94f6e91;
}
#incre01:hover {
    background:#1118270e;
    color: #f94f6e91;
}
#incre02:hover {
    background:#1118270e;
    color: #f94f6e91;
}
#incre03:hover {
    background:#1118270e;
    color: #f94f6e91;
}
